<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RootPath" value="C:/Users/"/>
    <add key="DownloadsFolder" value="/Downloads/" />
    <add key="VideosFolder" value="/Videos/" />
    <add key="MusicFolder" value="/Music/" />
    <add key="PicturesFolder" value="/Pictures/" />
    <add key="DocumentsFolder" value="/Documents/Uncategorized/" />
  </appSettings>
</configuration>